@charset 'UTF-8';

body, input, select, textarea {
	font-size: 13pt;
}

body {
	height: auto;
}

.btn {
	font-size: 0.8em;
	height: 32px;
	margin: 0 5px;
	padding: 1px 6px;
}

th, td {
	text-align: left;
}

td:last-child {
	padding-right: 0px;
}

tbody tr.hiddenSearch {
    background-color: #ddd;  
}


tbody tr:hover td, tbody tr:hover td a, tbody tr:hover, tbody tr:hover .unviewableSearch, tbody tr:hover .fauxLink, .btn {
    color: white;
	transition: none;
}

tbody tr:hover button {
	color: white;
	border-color: white;
}


.container {
    margin: 10px;
}

.page-header {
    background-color: #091D42;
    color: white;
    padding: 10px;
    /*margin-bottom: 10px;*/
    margin-top: 10px;
}


.headerLabel {
	text-transform: uppercase;
    margin-right:10px;
    font-size:0.9em;
}

.pagerInfo .ms-parent {
    margin-left: 0.5em;
}

.clearChx {
	background:#091D42;
}

.clearChx:hover {
    border-color: #091D42;
}

.aggregateInput {
    width: 2.5em;
    line-height: 1.2em;
    margin-left: 3px;
    color: black;
    font-weight: bold;
}
.unpadButton {
    padding: 0 6px;
    margin: 2px 0;
}
.xierror {
    color: red;
}
button:disabled {
    color: #888;
    border-color: #888;
    /* display: none; */
}

.btn-1a:active:disabled, .btn-1a:hover:disabled {
    color: #444;
    background: #888;
    cursor: default;
}

.restartButton, .baseNewButton {
	color: #091d42;
	border-color: #091d42;
}

/*
.page-header p {
	display: inline-block;
	padding-right:1px;
	padding-left:10px;
}
*/

.container #clmsErrorBox {
    transform: scale(0.5);
}

/* Stop the text selection cursor showing up */
span, td, div {
    cursor: default;
}


#popChoiceDialog ~ div {
    font-size: 0.8em;
}

#popChoiceDialog ~ div > div.ui-dialog-buttonset {
    float: none;
}

#popChoiceDialog ~ div > div.ui-dialog-buttonset button {
    display: block;
}

#popChoiceDialog > p:not(:last-of-type) {
    margin-bottom: 0.5em;
}

.fauxLink {
    text-decoration: underline;
    cursor: pointer;
}


#fixedSelectionInfo {
    position: absolute; /* changed to fixed for it to to 'follow' page down when scrolling */
    right: 0;
    margin-right: 10px;
    padding: 0 0.5em 0.5em;
    line-height: normal;
    z-index: 3; /* so it appears on top of table */
    background-color:#091D42;
    border-bottom-left-radius: 0.5em;
    width: 15em;
}

#selectedCounter {
    font-family: 'Lato-Regular';
    color: white;
    visibility: hidden;
}

.ms-drop li {
    line-height: 1em;
}

.ms-drop li:hover {
    background: #ffa;
}

button.ms-choice:hover {
	background: #ffa;
}

.d3table th {
	white-space: nowrap;
}

TABLE.d3table tbody tr td.varWidthCell, TABLE.d3table tr th.varWidthCell {
    width: 45%;
    min-width: 5em;
    /*max-width: 5em;*/
    white-space: normal;
}

TABLE.d3table tbody tr td.varWidthCell2, TABLE.d3table tr th.varWidthCell2 {
    width: 15%;
    min-width: 2em;
    /*max-width: 5em;*/
    white-space: nowrap;
}

TABLE.d3table thead th:not(:first-child) span {
    border-left: 1px solid #091d42;
    padding: 5px;
}

TABLE.d3table thead th.dottedBorder span {
    border-left: 1px dashed #091d42;
}

span.pageInfo {
	margin-right: 0.5em;
	border-right: 1px solid grey;
	padding-right: 0.5em;
}

TABLE.d3table tr.hiddenSearch {
    background-color: #ddd;  
}

TABLE.d3table tbody tr.hiddenSearch {
	border-top: 1px dotted #888;
}

TABLE.d3table a, tbody tr td .unviewableSearch, tbody tr td .fauxLink {
    color:#091D42;
}

/*
div.tooltip {
	position: absolute;
	opacity: 0;
	text-align: left;							
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;	
	padding: 8px;
    pointer-events: none;
    -webkit-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.5);
    box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.5);
}

P.tooltipTitle {
	color: black;
	text-transform: capitalize;
	padding-bottom: 0.3em;
}

P.tooltipContents {
	color: #666;
}
*/

/*
button:hover {
	font-weight:bold;
}
*/