@charset 'UTF-8';
/* @import url("font-awesome.min.css"); */
@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/lato/bold/Lato-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/lato/bold/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato/bold/Lato-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato/bold/Lato-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato/bold/Lato-Bold.svg#svgLato-Bold') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/lato/regular/Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/lato/regular/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato/regular/Lato-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato/regular/Lato-Regular.ttf')  format('truetype'), /* Safari, Android, iOS  */
       url('../fonts/lato/regular/Lato-Regular.svg#svgLato-Regular') format('svg');  /* Legacy iOS */ 
}

/* Btn */
.btn {
	height: 32px;
    border: none;
    font-family: inherit;
    font-size: 0.8em;
    color: inherit;
    background: 0 0;/*#091D42;*/
    cursor: pointer;
    /*padding: 5px 15px;*/
    margin: 0 5px 0 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    /* font-weight: 300; */
    outline: 0;
}

.btn-1 {
    border: 1px solid #fff;
    color: #fff;
}
.btn-1a:active, .btn-1a:hover {
    color: #091D42;
    background: #fff;
}

/*tables*/
table {
	width:100%;
    font-size: 0.9em;
    left: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 1);
    text-align: left;
}
thead{
	margin-top:10px;
	margin-bottom:10px;
}
th{
	padding-left:5px;
	padding-right:5px;
    vertical-align: middle; 
    height: 30px;
    text-align: left;   /* Needs to be done specifically for ie11 */
}
td{
	padding-left:5px;
	padding-right:5px;
    vertical-align: middle; 
    text-align: left;
}
th:first-child{
	padding-left:10px;
}
th:last-child{
	padding-right:10px;
}
td:first-child{
	padding-left:10px;
}
td:last-child{
	padding-right:10px;
}
tbody tr {
    background-color: #fff;
}
tbody tr:hover {
    background-color: #091D42;   
}
tbody tr:hover, tbody tr:hover td, tbody tr:hover td a, tbody tr:hover td .unviewableSearch, tbody tr:hover td .fauxLink {
    color: #fff;
}


/* Common */
body, html{
    background: #fff;
    height:100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;   
}
body, input, select, textarea {
    Font-family: "Lato-Regular", Helvetica, Arial, sans-serif;
	font-size: 13pt;
    font-weight: 300;
    line-height: 1.75em;
    color: #888;
	-webkit-text-stroke: .15px;
}

.container {
    margin: 10px;
}
.page-header {
    background-color: #091D42;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}


.headerLabel{
	text-transform: uppercase;
    margin-right:10px;
    font-size:0.9em;
}

/* history page */

.tableContainer table {
    table-layout: auto;
    width: 100%;
    display: table;
}

.tableContainer table tbody {
    font-size: 13px;
}

.tableContainer table#t1 input {
    font-size: 13px;
}

.tableContainer table#pagerTable input {
    font-size: 1em;
}

#pagerTable {
    font-size: 0.75em;
}

.tableContainer a, tbody tr td .unviewableSearch, tbody tr td .fauxLink {
    color:#091D42;
}

.tableContainer tbody tr td, .tableContainer tr th {
     color:#aaa;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 5em;
    white-space: nowrap;
    vertical-align: top;
}

.tableContainer tbody tr td.varWidthCell, .tableContainer tr th.varWidthCell {
    width: 45%;
    min-width: 5em;
    /*max-width: 5em;*/
    white-space: normal;
}

.tableContainer tbody tr td.varWidthCell2, .tableContainer tr th.varWidthCell2 {
    width: 15%;
    min-width: 2em;
    /*max-width: 5em;*/
    white-space: nowrap;
}

.clearChx{
	background:#091D42;
	/*width:70px;*/
}
.clearChx:hover {
	background:#293D62;
}
.dynamic-table-filter{
	margin:auto;
}
.tableContainer .dynamic-table-namebar th {
    color: #a40;
    font-size: 1.1em;
    background: #f8f8ff;
}

/*
.tableContainer .dynamic-table-namebar th:not(:first-child) {
    border-left: 1px solid black;
}

.tableContainer .dynamic-table-namebar th.dottedBorder {
    border-left: 1px dashed black;
}
*/

/* To get round a firefox table border bug, move padding to span, apply border to span */

.tableContainer .dynamic-table-namebar th:not(:first-child) {
    padding-left: 0;
    padding-right: 0;
} 

.tableContainer .dynamic-table-namebar th:not(:first-child) span {
    border-left: 1px solid black;
    padding: 5px;
}

.tableContainer .dynamic-table-namebar th.dottedBorder span {
    border-left: 1px dashed black;
}



.aggregateCheckbox {
    width: 2.5em;
    line-height: 1.2em;
    margin-left: 3px;
    color: black;
    font-weight: bold;
}
.unpadButton {
    padding: 0 6px;
    margin: 2px 0;
}
.xierror {
    color: red;
}
button:disabled {
    color: #888;
    border-color: #888;
    /* display: none; */
}

.btn-1a:active:disabled, .btn-1a:hover:disabled {
    color: #444;
    background: #888;
    cursor: default;
}

/*
.page-header p {
	display: inline-block;
	padding-right:1px;
	padding-left:10px;
}
*/


#clmsErrorBox {
    z-index: 3;
    font-size: 2em;
    border: 4px solid red;
    margin-left: 3em;
    padding: 1em;
    position: absolute;
    line-height: normal;
    -webkit-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.5);
    box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.5);
}

/* Stop the text selection cursor showing up */
span, td, div {
    cursor: default;
}


#popChoiceDialog ~ div {
    font-size: 0.8em;
}

#popChoiceDialog ~ div > div.ui-dialog-buttonset {
    float: none;
}

#popChoiceDialog ~ div > div.ui-dialog-buttonset button {
    display: block;
}

.fauxLink {
    text-decoration: underline;
    cursor: pointer;
}